.flex-container{
    background-color: cadetblue;
    

    /* 아이템의 width가 100이지만, 유연하게 들어가는 것을 확인*/
    display: flex;

    /* 주축의 방향을 설정할 수 있다.*/
    flex-direction: row;

    /* 줄바꿈 여부를 설정할 수 있다.*/
    flex-wrap: wrap; /* no-wrap, wrap, wrap-reverse */
    /*위에 거 두 개를 한번에 설정 가능*/
    /* flex-flow: row wrap;*/
    

    /* 플렉스 아이템을 정렬할 수 있다 */
    /* flex-start , flex-end, center , space-beteen 간격 동일, space_around 둘레 동일 */
    justify-content: space-around;

    /* 교차축 기준으로 정렬 */
    /* align-items: flex-start; */

    /* 두 줄 이상 일 떄 사용 가능 */
    align-content: flex-start;
}

.flex-item{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 2px solid brown;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    margin: 5px;

}