.margin, .padding {
    width: 200px;
    background-color: aqua;
    text-align: center;
    border: 2px solid blue;
}

.margin {
    margin-bottom: 30px;
}

.padding {
    padding: 10px;
}

.box {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    box-sizing: border-box;
}